/server-admin-authentication/target/
/sphairas-server-libs/target/
/server-messenger/target/
/server-web/target/
/server-persistence/target/
/server-calendar/target/
/server-ear/target/
/private/
/target/