<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentsServlet</servlet-name>
        <servlet-class>org.thespheres.betula.calendar.students.StudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonServlet</servlet-name>
        <servlet-class>org.thespheres.betula.calendar.lesson.LessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketsServlet</servlet-name>
        <servlet-class>org.thespheres.betula.calendar.tickets.TicketsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesServlet</servlet-name>
        <servlet-class>org.thespheres.betula.calendar.reports.ReportDatesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentsServlet</servlet-name>
        <url-pattern>/students/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonServlet</servlet-name>
        <url-pattern>/stundenplan/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketsServlet</servlet-name>
        <url-pattern>/tickets/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesServlet</servlet-name>
        <url-pattern>/reports/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Default</display-name>
        <web-resource-collection>
            <web-resource-name>Servlets</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>signee</role-name>
            <role-name>unitadmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Enable CORS</display-name>
        <web-resource-collection>
            <web-resource-name>Resources</web-resource-name>
            <url-pattern>/resource/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
            <http-method>TRACE</http-method>
            <http-method>CONNECT</http-method>
            <http-method>HEAD</http-method>
            <!--Do not delete for CORS preflight requests-->
            <!--<http-method>OPTIONS</http-method>-->
        </web-resource-collection>
        <auth-constraint>
            <!--<role-name>signee</role-name>-->
            <role-name>unitadmin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>iserv</realm-name>
    </login-config>
    <security-role>
        <description>Default logged in user.</description>
        <role-name>signee</role-name>
    </security-role>
    <security-role>
        <description>Unitadmin</description>
        <role-name>unitadmin</role-name>
    </security-role>
</web-app>
