<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{bundle['application.theme']}</param-value>
    </context-param>
    <servlet>
        <servlet-name>BetulaWebApplication</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ZeugnisServlet</servlet-name>
        <servlet-class>org.thespheres.betula.web.docsrv.ZeugnisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Push Servlet</servlet-name>
        <servlet-class>org.thespheres.betula.web.NotifyGradeUpdatePushServlet</servlet-class>
        <init-param>
            <!--https://github.com/Atmosphere/atmosphere/issues/2111-->
            <param-name>org.atmosphere.websocket.suppressJSR356</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.useNative</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.websocket.messageContentType</param-name>
            <param-value>application/json</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
            <param-value>org.atmosphere.interceptor.AtmosphereResourceLifecycleInterceptor</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
            <param-value>org.atmosphere.interceptor.LongPollingOnOpenInterceptor</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.annotation.packages</param-name>
            <param-value>org.primefaces.push</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.sessionSupport</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>webdav</servlet-name>
        <servlet-class>org.thespheres.betula.web.config.AppResourcesServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BetulaWebApplication</servlet-name>
        <url-pattern>/ui/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZeugnisServlet</servlet-name>
        <url-pattern>/zgnsrv/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Push Servlet</servlet-name>
        <url-pattern>/primepush/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>webdav</servlet-name>
        <url-pattern>/dav/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ui/main.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Default</display-name>
        <web-resource-collection>
            <web-resource-name>Site</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>signee</role-name>
            <role-name>unitadmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Exclude resource paths</display-name>
        <web-resource-collection>
            <web-resource-name>Site</web-resource-name>
            <url-pattern>/ui/login.xhtml</url-pattern>
            <url-pattern>/resources/style.css</url-pattern>
            <url-pattern>/resources/favicon.ico</url-pattern>
            <url-pattern>/ui/javax.faces.resource/*</url-pattern>
            <url-pattern>/primepush/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
    <security-constraint>
        <display-name>Enable CORS</display-name>
        <web-resource-collection>
            <web-resource-name>Resources</web-resource-name>
            <url-pattern>/resource/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
            <http-method>TRACE</http-method>
            <http-method>CONNECT</http-method>
            <http-method>HEAD</http-method>
            <!--Do not delete for CORS preflight requests-->
            <!--<http-method>OPTIONS</http-method>-->
        </web-resource-collection>
        <auth-constraint>
            <role-name>signee</role-name>
            <role-name>unitadmin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <!--https://www.primefaces.org/primefaces-el-injection-update/-->
    <security-constraint>
        <display-name>El-injection-CVE</display-name>
        <web-resource-collection>
            <web-resource-name>Site</web-resource-name>
            <url-pattern>/ui/javax.faces.resource/dynamiccontent.properties.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>unitadmin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>WebDav public resources.</display-name>
        <web-resource-collection>
            <web-resource-name>Site</web-resource-name>
            <url-pattern>/dav/public/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>WebDav for signees.</display-name>
        <web-resource-collection>
            <web-resource-name>Login Resources</web-resource-name>
            <url-pattern>/dav/signee/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>signee</role-name>
            <role-name>unitadmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>WebDav for unitadmins</display-name>
        <web-resource-collection>
            <web-resource-name>Login Resources</web-resource-name>
            <url-pattern>/dav/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>unitadmin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>${web.module.authentication.realm}</realm-name>
        <form-login-config>
            <form-login-page>/ui/login.xhtml</form-login-page>
            <form-error-page>/userlogin.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Default logged in user.</description>
        <role-name>signee</role-name>
    </security-role>
</web-app>
